{namespace Autocomplete}

/**
 * This renders the main element.
 */
{template .render}
	{@param? elementClasses: string}
	{@param? listId: string}
	{@param? onListItemSelected_: ?}
	<div
		class="autocomplete autocomplete-list component {$elementClasses ? ' ' + $elementClasses : ''}"
		data-onclick="handleClick_">
		{call List.render}
			{param events: ['itemSelected': $onListItemSelected_] /}
			{param id: $listId /}
			{param ref: 'list' /}
		{/call}
	</div>
{/template}
